node_modules/
.git/
.tox
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
__pycache__
*.pyc
*.swp
.docker/
build/
dist/
contentcuration/static/js/bundles/
contentcuration/static_collected/
contentcuration/storage/
k8s/templates/
cloudbuild-*.yaml
